* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: hsl(217, 54%, 11%);
  flex-direction: column;
}

.container {
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

main {
  transform: scale(0.8);
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price-time {
  display: flex;
  justify-content: space-between;
}

.author img {
  max-width: 10%;
  max-height: auto;
  border: 1px solid #fff;
  border-radius: 50%;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author p,
.author span {
  font-size: 18px;
}

p {
  font-weight: 100;
  color: hsl(215, 51%, 70%);
  line-height: 150%;
}
.price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.time {
  display: flex;
  gap: 5px;
  align-items: center;
}

.time span {
  font-weight: 100px;
  color: hsl(215, 51%, 70%);
  font-size: 15px;
}

.ether {
  color: hsl(178, 100%, 50%);
  font-size: 15px;
}

.line {
  border-width: 0px;
  height: 1px;
  margin: 0;
  background-color: hsl(215, 32%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}

.main-img {
  border-radius: 10px;
}

h1 {
  letter-spacing: 1px;
}

@media only screen and (max-width: 425px) {
  .container {
    margin: 20px;
  }

  main {
    transform: scale(1);
  }

  /* .body {
    max-height: 100vh;
    max-width: 100vh;
  } */
}
